<% include partials/header %>

<h1>Landing Page </h1>

<p> Welcome amigos to the helpcamp!!
    We will tell you the best camping sites in India.
</p>


<a href="/campgrounds">View all Campgrounds</a>

<% include partials/footer %>
